* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html { font-size: 62.5%;}
/** Home page */
.home-body {
    background-image: url(images/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.home-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/** This is the header section of home page */
.home-header h1 {
    color: aliceblue;
    font-size: 3rem;
    padding: 15px;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.606);
    letter-spacing: 2px;
    word-spacing: 2px;
    border-radius: 25px;
    font-family: fantasy;
}
 /** Show and hide button */
#bt_1 {
    margin: 20px auto;
    padding: 10px;
    font-size: 2rem;
    text-transform: capitalize;
    color: aliceblue;
    background-color: rgba(4, 4, 75, 0.684);
    letter-spacing: 2px;
    border-radius: 15px;
}
#bt_1:hover {
    border: 2px solid lime;
    color: lime;
}
 /** This is the button text */
h2 {
    text-align: center;
    text-transform: capitalize;
}
 /** Container for the coin flip */
.flip-container {
    width: 400px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.584);
    border: 2px solid aliceblue;
    border-radius: 15px;
}
 /** this is the flip button */
#flip {
    padding: 10px;
    font-size: 2rem;
    text-transform: capitalize;
    border-radius: 15px;
    background-color: rgba(4, 4, 75, 0.684);
    color: aliceblue;
    letter-spacing: 3px;
}
 /** This is the coin section */
#coin {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 2rem 0rem;
  transform-style: preserve-3d;

}
#coin div {
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  border-radius: 50%;
  backface-visibility: hidden;
  background-size: contain;
  position: absolute;
}
 /** The coin and animation */
.heads {
    background-image: url(images/head.png);
}
.animate-heads {
  animation: flipHeads 3s;
  animation-fill-mode: forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1800deg);
  }
}

.tails {
    background-image: url("images/tail.png");
  transform: rotateY(-180deg);
}

.animate-tails {
  animation: flipTails 4s;
  animation-fill-mode: forwards;
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1620deg);
  }
}
 /** This is the flip results */
.head_tail span {
    color: aliceblue;
    padding: 15px;
    letter-spacing: 3px;
    background-color: rgb(20, 2, 139);
    font-size: 2rem;
    line-height: 7rem;
    border: 2px solid aliceblue;
    border-radius: 12px;
}
.form-container {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.658);
    border: 2px solid aliceblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.form-container h2 {
    font-size: 2.5rem;
    color: aliceblue;
    padding: 10px;
    letter-spacing: 3px;

}
/** Actual form  home page */
#player-names {
    display: flex;
    flex-direction: column;
    padding: 20px;

}
label {
    color: aliceblue;
    font-size: 2rem;
    line-height: 5rem;
}
 /** Start game button */
.sub {
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(114, 249, 114);
    border-radius: 15px;
    font-size: 2.5rem;
}
/** Input fields home page */
input[type=text] {
    font-size: 2.5rem;
    padding: 5px;
    background-color: beige;
}
/*! This is the frame_$.html's  pages css settings */
/** These settings will be the same for each frame page */

/** This controls the nav section of frame_ pages */

.frame-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;    
    border: 2px solid rgb(42, 154, 253);
}
.nav-left {
    width: 120px;
    
}
.nav-left a, .nav-right a {
    color: aliceblue;
    text-align: center;    
    text-decoration: none;        
}
/*? adjust for media screens */
.nav-left h3,  
.nav-right h3,
.nav-center h3 {
    font-size: 2.5rem;
    border: 2px solid aliceblue;
    background-color: black;
    border-radius: 15px;
    padding: 5px 20px;
    color: aliceblue;
    letter-spacing: 3px;
}
/*? adjust for screen size */
.full {
    width: 200px;
    background-color: aquamarine;
    border-radius: 15px;
    font-size: 2.2rem;
}
/** canvas area */
.graph {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
canvas {
    border: 1px solid yellow;
    width: 100%;
    height: 200px;
    
}
/** Player container settings */
.players_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
    border: 2px solid hsl(208, 98%, 58%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.player_left,
.player_right {
    width: 50%;
    border: 2px solid rgb(42, 154, 253);
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all-4 { 
    color:white;
    font-size: 3rem;
}
.game-pad {
    width: 100%;
}
row_1,
row_2,
row_3 {
    display: flex;
    padding: 5px;
    width: 100%;
    justify-content: space-evenly;
}

.all-btn button {
    width: 8.2vw;
    
    padding: 12px;
    font-size: 3rem;
    margin: 5px;
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
    .frame-nav { padding: 9px; }
    .nav-left h3,  
    .nav-right h3,
    .nav-center h3 {
        font-size: 2.1rem;         
        padding: 4px 17px;        
        letter-spacing: 3px;
    }
    .full {
        width: 180px;
        background-color: aquamarine;
        border-radius: 15px;
        font-size: 2rem;
    }
    .all-btn button {
        width: 7.2vw;        
        padding: 10px;
        font-size: 2.5rem;
        margin: 5px;
    }    
}
@media screen and (max-width: 900px) and (orientation: landscape) {
    
    .frame-nav { padding: 7px; }
    .nav-left h3,  
    .nav-right h3,
    .nav-center h3 {
        font-size: 1.6rem;         
        padding: 4px 5px;        
        letter-spacing: 3px;
    }
    .full {
        width: 140px;
        background-color: aquamarine;
        border-radius: 15px;
        font-size: 1.5rem;
    }
    .all-btn button {
        width: 6.2vw;        
        padding: 7px;
        font-size: 2.2rem;
        margin: 4px;
    }
    canvas {
        border: 1px solid yellow;
        width: 100%;
        height: 100px;    
    }    
}
@media screen and (max-width: 700px) and (orientation: landscape) {
    .nav-left { width: 80px;}
    .frame-nav { padding: 3px; }
    .nav-left h3,  
    .nav-right h3,
    .nav-center h3 {
        font-size: 1rem;         
        padding: 4px 5px;        
        letter-spacing: 3px;
    }
    .all-4 {
        font-size: 1.3rem;        
    }
    .full {
        width: 100px;
        background-color: hsl(160, 100%, 75%);
        border-radius: 15px;
        font-size: 1rem;
    }
    .all-btn button {
        width: 6.2vw;        
        padding: 2px;
        font-size: 1.5rem;
        margin: 4px;
    }
    canvas {
        border: 1px solid yellow;
        width: 100%;
        height: 0px;
        visibility: hidden;
    } 
    .player_left,
    .player_right {
        width: 50%;        
        min-height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
}
/*! first.html a remake */
.winner {
    animation: winnerHighlight 1s infinite alternate;
    border: 3px solid limegreen;
}

@keyframes winnerHighlight {
    0% { border-color: limegreen; }
    100% { border-color: transparent; }
}
